* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #ffffff;
    color: #222;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    align-items: center;
     position: sticky;

    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
}

.logo {
    color: #1e6f5c;
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
}

/* BUTTON */
.btn {
    padding: 10px 20px;
    border: none;
    background-color: #1e6f5c;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}

.primary {
    font-size: 16px;
}

/* HERO */
.hero {
    text-align: center;
    padding: 80px 20px;
    background-color: #f2f7f5;
}

.hero h1 {
    font-size: 38px;
    margin-bottom: 10px;
}

.hero p {
    margin-bottom: 20px;
}

/* COURSES SECTION */
.courses {
    padding: 80px 60px;
    background-color: #ffffff;
    text-align: center;
}

.section-title {
    font-size: 36px;
    margin-bottom: 50px;
    color: #222;
}

.courses-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
}

.course-card {
    padding: 30px 20px;
    border-radius: 12px;
    background-color: #f2f7f5;
    transition: 0.3s;
}

.course-card h3 {
    margin-bottom: 10px;
    color: #1e6f5c;
}

.course-card p {
    font-size: 14px;
    color: #555;
    line-height: 1.6;
}

.course-card:hover {
    transform: translateY(-8px);
}

/* SECTIONS */
.section {
    display: flex;
    align-items: center;
    padding: 30px 100px;
    gap: 40px;
}

.reverse {
    flex-direction: row-reverse;
}

.text {
    flex: 1;

}

.image1 {
    flex: 1;
    max-width: 25%;
    height: auto; /* keep aspect ratio */
    object-fit: contain;
    margin-left: 10px;
}
.image2 {
    flex: 1;
    max-width: 20%;
    height: auto; /* keep aspect ratio */
    object-fit: contain;
}

/* FEATURES */
.features {
    display: flex;
    justify-content: space-around;
    padding: 60px;
    background-color: #f9f9f9;
}

.card {
    width: 30%;
    text-align: center;
}

/* FOOTER */
.footer {
    text-align: center;
    padding: 20px;
    background-color: #f2f7f5;
}
